@import 'utli';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img,picture{
    display: block;
    width: 100%;
}

body{
    position: relative;
    width: 100%;
}

.template{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    // opacity: 0.9;
    // display: none;
}

// btn----start---
.btn__start{
    display: grid;
    place-items: center;
    color: $White;
    text-decoration: none;
    display:grid;
    width: 17.2rem;
    height: 3.46rem;
    border-radius: 2rem;
    @include f1-700;
    letter-spacing: 0.5px;
    background: linear-gradient(to right,$Cyan,$Blue);
    cursor: pointer;
    font-size: 0.95rem;
    @include min-1000{
        width: 20rem;
        height: 4rem;
        font-size: 1.15rem;
        letter-spacing: 0;
    }
}

// HEADER---------------------------------------
.header{
    @include bg-1;
    padding: 0 1.75rem 0 1.35rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include min-1000{
        height: 14.278rem;
        padding: 0 5.75rem;
    }

    &__logo{
        img{
            width: 5.8rem;
            transform: translateY(1px);
            @include min-1000{
            width: 12.5rem;
            transform: translateY(-1px);
            }
        }
    }

    &__nav{
        @include f1-400;
        &__list{
            width: 100%;
            list-style: none;
            display: flex;
        }
        &__link{
            @include c-w;
            text-decoration: none;
            font-size: 0.85rem;
            margin: 0 0 0 1.8rem;
            @include min-1000{
            font-size: 1.1rem;
            margin: 0 0 0 4.28rem;
            }
        }

    }
    
}

// MAIN------------------------------------------
.main{
    @include bg-2;
    color: $White;
    // INTRO-----------------------------------------
    &__intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 0.5rem;        
        @include min-1000{
        padding-bottom: 6.5rem;
        background: url(./img/bg-curvy-desktop.svg) no-repeat 0 105%,
        $DarkBlue1;
        }
        
        &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.2rem;
        transform: translateY(-5.2rem);
        @include min-1000{
            row-gap: 2.4rem;
        }
        }


        &__photo{
        width: 100%;
        padding-bottom: 5.2rem;
        background: url(./img/bg-curvy-mobile.svg) no-repeat bottom center,
        $DarkBlue1;

        img{
        transform: scale(0.81);
        }

        @include min-1000{
            display: flex;
            justify-content: center;
            background: none;
            padding-bottom: 7.4rem;
            img{
            transform: scale(1);
            width: 50%;
            }
        }
        }

        &__title{
        @include f1-700;
        font-size: 1.72rem;
        padding: 0 0.8rem;
        line-height: 2.5rem;   
        @include min-1000{
        width: 55rem;
        font-size: 2.87rem;
        line-height: 4.2rem;
        }   
    }
        &__p{
        @include f1-400;
        padding: 0 2.9rem;
        line-height: 1.5rem;
        font-size: 1rem;
        margin-bottom: 1rem;
        @include f2-400;
        @include min-1000{
            padding: 0 3.5rem;
            width: 51.5rem;
            font-size: 1.43rem;
            line-height: 2.1rem;
            margin-bottom: 0rem;
        }
    }
    }

    // ADVANTAGES--------------------------------------
    &__advantages{
        padding: 2.75rem 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        row-gap: 3.9rem;
        @include min-1000{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            justify-items: center;
            justify-content: center;
            padding: 0 14.5rem;
            row-gap: 4.5rem;
        }
       
    }

    .iconCon{
        width: 100px;
        height: 100px;
        display: grid;
        place-items: center;
        margin-bottom: 0.97rem;

    }

    // becuase of defrent sizes of icons / needs to asign any one of them singluarly
    .icon1{
        width: 4.7rem;
        @include min-1000{
            width: 6rem;
        }
    }
    .icon2{
        width: 4rem;
        @include min-1000{
            width: 5rem;
            justify-self: flex-start;
        }
    }
    .icon3{
        width: 4.7rem;
        @include min-1000{
            width: 6.3rem;
        }

    }
    .icon4{
        width: 5rem;
        @include min-1000{
            width: 6.5rem;
        }
    }
    

    .adv__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 2rem;
        @include min-1000{
            max-width: 418px;
            padding-top: 0.1rem;
        }
        
        &__photo{
            display: block;
        }
        

        &__title{
            @include f1-700;
            font-size: 1.3rem;
            margin-bottom: 0.75rem;
            @include min-1000{
                font-size: 1.4rem;
            }
        }

        &__p{
            @include f2-400;
            font-size: 1rem;
            line-height: 1.5rem;
            margin-bottom: 1.2rem;
        }
    }


}

